*{
  font-family: 'Times New Roman', Times, serif;
}


.nav-style{
  background-color: rgb(235, 197, 138);
}

.logo-img{
  width: 70px;
  height: 70px;
}

.logo-text{
  margin: -25px 0px 0px 70px;

}

main{
  min-height: 82vh;
}

footer{
  margin-top: 2rem;
  background-color: rgb(235, 197, 138);
  padding: 10px;
}

marquee{
  margin-top: 0.5rem;
  font-size: large;
}

.p-style{
  text-align: justify;
}